:root {
    --bg: #050505;
    --card-bg: #0d0d0d;
    --accent-gold: #af944f;
    --accent-red: #8b0000;
    --text: #d4d4d4;
    --border: #222;
}


body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 20px;
    font-family: 'serif';
}
/* header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card-bg);
    padding: 15px 30px;
    border: 1px solid var(--border);
    margin-bottom: 20px;
}

 /* Grid de 3 columnas - Nivel 2 */
 .content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
 }
 